# db: mysqls
ONTOLOGY_DB_NAME=kweaver

ONTOLOGY_REDIS_USER=root
ONTOLOGY_ELASTIC_PROTOCOL=https

# ============================================
# Authentication Services
# ============================================
ONTOLOGY_AUTH_ENABLED=false

# ============================================
# Java Services JVM Options
# ============================================
ONTOLOGY_DATA_CONNECTION_JAVA_OPTS=-Xms256m -Xmx512m
ONTOLOGY_VEGA_GATEWAY_JAVA_OPTS=-Xms256m -Xmx512m

# ============================================
# Wanwu Services
# ============================================
WANWU_BFF_SERVICE_URL=http://bff-service:6668

# ============================================
# ontology Services
# ============================================
ONTOLOGY_BUSINESS_DOMAIN_ENABLED=false
ONTOLOGY_AGENT_GUNICORN_WORKERS=5
ONTOLOGY_AGENT_GUNICORN_TIMEOUT=600